<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="mymodules_grid" frontName="mymodules_grid">
            <module name="MyModules_Grid" before="Magento_Backend" />
        </route>
    </router>
</config>
